{{ $color := "orange" }}
{{ $icon := "⚠️" }}
{{ if eq .Action "start" }}
  {{ $color = "white" }}
  {{ $icon = "ℹ️" }}
{{ else if eq .Action "success" }}
  {{ $color = "limegreen" }}
  {{ $icon = "✅" }}
{{ else if eq .Action "failure" }}
  {{ $color = "red" }}
  {{ $icon = "🚨" }}
{{ end }}
{{ $message := filterMessage (.Message) }}

<h4><font color={{ $color }}>{{ $icon }} {{ $message }}</font></h4>
<b>Pipeline:</b> {{ .Pipeline }}<br>
<b>Project:</b> <a href="https://github.com/{{ .Project }}/">{{ .Project }}</a><br>
{{ if not .Change }}
<b>Branch:</b> <a href="https://github.com/{{ .Project }}/tree/{{ .Branch }}">{{ .Branch }}</a><br>
{{ end }}
{{ if and .Change .ChangeURL }}
<b>Pull request:</b> <a href="{{ .ChangeURL }}">#{{ .Change }} by {{ or .Owner "NONE" }}</a><br>
{{ end }}
<b>Triggered:</b> {{ .TriggerTime }}<br>

{{ $length := len .Buildset.Builds }}
{{ if and (gt $length 0) (index .Buildset.Builds 0).WebURL }}

{{ $tenant := .Tenant }}
{{ $project := .Project }}

{{ $baseURL := getBaseUrl (index .Buildset.Builds 0).WebURL }}
{{ $buildsetURL := print $baseURL "/t/" $tenant "/buildset/" .Buildset.UUID }}

<b>Buildset:</b> <a href="{{ $buildsetURL }}">{{ .Buildset.Result }}</a><br>
<b>Builds:</b>
<ul>
  {{ range .Buildset.Builds }}
    {{ $jobHistoryURL := print $baseURL "/t/" $tenant "/builds?job_name=" .JobName "&project=" $project }}
    <li><b>{{ .JobName }}:</b> <a href="{{ .WebURL }}">{{ .Result }}</a></li>
    <ul>
      <li><b>Start/End:</b></br>{{ .StartTime }} → {{ .EndTime }}</li>
      {{ if .LogURL }}
      <li><i>Analyze the related <a href="{{ .LogURL }}">logs</a>, explore job <a href="{{ $jobHistoryURL }}">history</a></i></li>
      {{ end }}
    </ul>
  {{ end }}
</ul>
{{ end }}
