<h3>{{ if eq .Action "start" }} ℹ️ {{ else if eq .Action "success" }} ✅ {{ else if eq .Action "failure" }} ❌ {{ else }} ⚠️ {{ end }} {{ .Message }}</h3>

<b>Pipeline:</b> {{ .Pipeline }}<br>
<b>Project:</b> <a href="https://github.com/{{ .Project }}/">{{ .Project }}</a><br>
{{ if not .Change }}
<b>Branch:</b> <a href="https://github.com/{{ .Project }}/tree/{{ .Branch }}">{{ .Branch }}</a><br>
{{ end }}
{{ if and .Change .ChangeURL }}
<b>Pull request:</b> <a href="{{ .ChangeURL }}">#{{ .Change }} by {{ or .Owner "NONE" }}</a><br>
{{ end }}
<b>Triggered:</b> {{ .TriggerTime }}<br>

{{ $length := len .Buildset.Builds }}
{{ if and (gt $length 0) (index .Buildset.Builds 0).WebURL }}

{{ $baseURL := getBaseUrl (index .Buildset.Builds 0).WebURL }}
{{ $buildsetURL := print $baseURL "/t/" .Tenant "/buildset/" .Buildset.UUID }}

<b>Buildset:</b> <a href="{{ $buildsetURL }}">{{ .Buildset.Result }}</a><br>
<b>Builds:</b>
<ul>
  {{ range .Buildset.Builds }}
    <li><b>{{ .JobName }}:</b> <a href="{{ .WebURL }}">{{ .Result }}</a></li>
    <ul>
      <li><b>Start/End:</b></br>{{ .StartTime }} → {{ .EndTime }}</li>
      {{ if .LogURL }}
      <li><i>Analyze the related <a href="{{ .LogURL }}">logs</a></i></li>
      {{ end }}
    </ul>
  {{ end }}
</ul>
{{ end }}
